:root {
    --primary-color: #228B22; /* Dark green */
    --secondary-color: #8B4513; /* Saddle brown */
    --accent-color: #006400; /* Dark green */
    --background-color: #F5F5DC; /* Beige */
    --text-color: #000000; /* Black */
}