<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}Forum{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/pico/css/pico.classless.jade.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% else %}
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                {% endif %}
            </ul>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('lehrveranstaltungen') }}" data-tooltip="Zeige alle Lehrveranstaltungen an">Lehrveranstaltungen</a></li>
                    <li><a href="{{ url_for('profile') }}">Profil</a></li>
                    <li><a href="{{ url_for('logout') }}">Ausloggen</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Einloggen</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flashes>
                    {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <button id="confettiButton">Celebrate!</button>
        <button id="growTreeButton">Grow a Tree!</button>
        <!-- Add the confetti script -->
    <script>
        document.getElementById('confettiButton').addEventListener('click', function() {
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
            });
        });
    </script>
    <style>
        
    </style>
    <script>
        document.getElementById('growTreeButton').addEventListener('click', function() {
            const tree = document.createElement('div');
            tree.classList.add('tree');
            tree.style.left = Math.random() * 100 + 'vw';
            tree.style.top = Math.random() * 100 + 'vh';
            document.body.appendChild(tree);
        });
    </script>
        <p>&copy; 2024  Philipp Wiederkehr</p>
    </footer>
</body>
</html>