{% extends "layout.html" %}
{% block title %}Lehrveranstaltungen{% endblock %}
{% block content %}
    <h1>Lehrveranstaltungen</h1>
    <div class="grid">
        {% for lehrveranstaltung in lehrveranstaltungen %}
            <div>
                <article>
                    <a href="{{ url_for('lv_detail', encoded_name=lehrveranstaltung.encoded_name) }}">{{ lehrveranstaltung.name }}</a>
                    <p>ECTS: {{ lehrveranstaltung.ects }}</p>
                    <p>Professor: {{ lehrveranstaltung.professor }}</p>
                    <p>Schwierigkeit:{{ lehrveranstaltung.difficulty }}</p>
                    <p>Verwendete Zeit: {{ lehrveranstaltung.time_spent }}</p>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}