{% extends "layout.html" %}
{% block title %}{{ lehrveranstaltung.name }}{% endblock %}
{% block content %}

{% set mime_type_map = {
    'image/': '<img src="data:{mime_type};base64,{data_base64}" alt="{filename}" style="max-width: 200px;">',
    'application/pdf': '<embed src="data:{mime_type};base64,{data_base64}" type="application/pdf">',
    'text/plain': '<pre>{data}</pre>',
    'application/msword': '<iframe src="https://view.officeapps.live.com/op/embed.aspx?src=data:{mime_type};base64,{data_base64}"></iframe>',
    'application/vnd.openxmlformats-officedocument.wordprocessingml.document': '<iframe src="https://view.officeapps.live.com/op/embed.aspx?src=data:{mime_type};base64,{data_base64}"></iframe>'
} %}

    <h2>{{ lehrveranstaltung.name }} Uploads</h2>
    <div>
        {% for upload, username in uploads %}
            <article>
                <a href="{{ url_for('upload_detail', encoded_name=lehrveranstaltung.encoded_name, upload_id=upload.id) }}">{{ upload.filename }}</a>
                <p>Hochgeladen von: {{ username }} am {{ upload.upload_date.strftime('%Y-%m-%d') }} um {{ upload.upload_date.strftime('%H:%M:%S') }}</p>
                <p>Likes: <span id="likes-{{ upload.id }}">{{ upload.likes }}</span></p>
                <button onclick="likeUpload({{ upload.id }})">Like</button>
                {% for key, value in mime_type_map.items() %}
                    {% if upload.mime_type.startswith(key) %}
                        {% if key == 'text/plain' %}
                            {{ value.format(mime_type=upload.mime_type, data_base64=upload.data_base64, filename=upload.filename, data=upload.data.decode('utf-8'))|safe }}
                        {% else %}
                            {{ value.format(mime_type=upload.mime_type, data_base64=upload.data_base64, filename=upload.filename)|safe }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </article>
        {% endfor %}
    </div>

    <h3>Upload a new file</h3>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file.label }} {{ form.file() }}
        {{ form.submit() }}
    </form>

    <script>
    function likeUpload(uploadId) {
        fetch(`/like/${uploadId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ form.csrf_token._value() }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById(`likes-${uploadId}`).innerText = data.likes;
            } else {
                alert(data.message);
            }
        });
    }
    </script>

{% endblock %}
