{% extends "layout.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
    <h1>Profil</h1>

    <!-- User Information -->
    <h2>Benutzer Information</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Beigetreten:</strong> {{ user.joined.strftime('%Y-%m-%d') }}</p>

    <!-- Uploads -->
    <h2>Uploads</h2>
    {% if uploads %}
        <ul>
        {% for upload in uploads %}
            <li>
                <strong>Titel:</strong> {{ upload.filename }}<br>
                <strong>Lehrveranstaltung:</strong> {{ upload.Lehrveranstaltung_id }}<br>
                <strong>Hochgeladen:</strong> {{ upload.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Keine Uploads</p>
    {% endif %}

    <!-- Comments -->
    <h2>Comments</h2>
    {% if comments %}
        <ul>
        {% for comment in comments %}
            <li>
                <strong>Kommentar:</strong> {{ comment.content }}<br>
                <strong>Gepostet:</strong> {{ comment.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Keine Kommentare</p>
    {% endif %}

    <!-- Likes Received -->
    <h2>Likes Received</h2>
    <p> Muss noch eingearbeitet werden...</p>
   

{% endblock %}