{% extends "layout.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
    <h1>Profil</h1>

    
    <!-- User Information -->
    <h2>Benutzer Information</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Beigetreten:</strong> {{ user.joined.strftime('%Y-%m-%d') }}</p>
    

    
    <!-- Uploads -->
    <h2>Uploads</h2>
    {% if uploads %}
    <table>
        <thead>
          <tr>
            <th scope="col">Titel</th>
            <th scope="col">Lehrveranstaltung</th>
            <th scope="col">Hochgeladen</th>
          </tr>
        </thead>
        <tbody>
          {% for upload, encoded_name in uploads %}
          <tr>
            <th scope="row"><a href="{{ url_for('upload_detail', encoded_name=encoded_name, upload_id=upload.id) }}">{{ upload.filename }}</a></th>
            <td>{{ upload.Lehrveranstaltung_id }}</td>
            <td>{{ upload.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="grid">
        <p>Keine Uploads</p>
      </div>
    {% endif %}
    

    <!-- Comments -->
    
    <h2>Comments</h2>
    {% if comments %}
        <ul>
        {% for comment in comments %}
            <li>
                <strong>Kommentar:</strong> {{ comment.content }}<br>
                <strong>Gepostet:</strong> {{ comment.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Keine Kommentare</p>
    {% endif %}
    

    
    <!-- Likes Received -->
    <h2>Likes Received</h2>
    {% if likes_received %}
    <kbd>{{ likes_received }}</kbd>
    {% else %}
        <p>Keine Likes erhalten</p>
    {% endif %}
    

{% endblock %}